<div class="container-fluid">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-7 col-md-8 col-sm-8 col-lg-8">
                    Welcome {{userName}}
                </div>
                <div class="col-xs-5 col-md-4 col-sm-4 col-lg-4">
                    <a href="#login" class="btn btn-warning pull-right" ng-click="clear()">Logout</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-7 col-md-8 col-sm-8 col-lg-8">
                    <div class="panel panel-primary" ng-repeat="q in shopData">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{q.item}}</h3>
                        </div>
                        <check-list name="q.id" selected="q.selected" option="q.prices"></check-list>
                    </div>
                </div>

                <div ng-class="{'affix': scroll > 50, 'affix-top': scroll <= 50}"
                     class="col-xs-5 col-md-4 col-sm-4 col-lg-4"
                     data-spy="affix" data-offset-top="20">
                    <div class="panel panel-primary">
                        <div id="divTotal" class="panel-heading">
                            <h3 class="panel-title">Total</h3>
                        </div>
                        <div class="panel-body">
                            <h2>$ {{total()}}</h2>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="#/checkout" class="btn btn-danger">Checkout <span
                                class="glyphicon glyphicon-shopping-cart"
                                aria-hidden="true"></span></a>

                    </div>
                </div>
            </div><!-- /.row  -->
        </div>

    </div>

</div><!-- /.container -->

<get-scroll scroll="scroll"></get-scroll>

<!-- Modal -->
<div class="modal fade" id="responseModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Response</h4>
            </div>
            <div class="modal-body">
                <pre>
======================== XACML Response ===================
&lt;Response xmlns="urn:oasis:names:tc:xacml:3.0:core:schema:wd-17">
    &lt;Result>
        &lt;Decision>Permit&lt;/Decision>
        &lt;Status>
            &lt;StatusCode Value="urn:oasis:names:tc:xacml:1.0:status:ok"/>
        &lt;/Status>
        &lt;Attributes Category="urn:oasis:names:tc:xacml:3.0:attribute-category:resource">
            &lt;Attribute AttributeId="urn:oasis:names:tc:xacml:1.0:resource:resource-id" IncludeInResult="true">
                &lt;AttributeValue DataType="http://www.w3.org/2001/XMLSchema#string">Furniture&lt;/AttributeValue>
            &lt;/Attribute>
        &lt;/Attributes>
    &lt;/Result>
    .....
&lt;/Response>
===========================================================
                </pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
